.navbar-brand {
    font-family: "Dancing Script";
    font-size: 2.5em;
}

.portrait-title h2 {
    display: none;
}

.avatar-circle {
    margin-bottom: 30px;
}
/*
#about h1 {
    font-family: "Dancing Script";
}*/